<template>
  <div class="error">
    <BaseHeader />
    <div class="container-main error-content">
      <img src="/img/content/404.png" alt="" class="error-img" />
      <img src="/img/content/404_1.png" alt="" class="error-img2" />
      <img src="/img/content/404_2.png" alt="" class="error-img3" />
      <div class="error-text">
        <div class="first">{{ $t("page_not_found") }}</div>
        <div class="second">{{ $t("page_not_found") }}</div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.error {
  position: relative;
  height: 100vh;
  &-content {
    position: relative;
    height: calc(100% - 115px);
  }
  &-img {
    position: absolute;
    top: calc(50% - 115px);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 400px;
    margin: 0 auto;
    @media only screen and (max-width: 767px) {
      top: 140px;
    }
  }
  &-img2 {
    position: absolute;
    top: 20px;
    left: 60px;
    width: 182px;
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
  &-img3 {
    position: absolute;
    bottom: 100px;
    left: 100px;
    width: 236px;
     @media only screen and (max-width: 767px){
        bottom: 50px;
        right: 30px;
        left: auto;
     }
  }
  &-text {
    position: absolute;
    bottom: 240px;
    right: 100px;
    @media only screen and (max-width: 767px) {
      right: 0;
      left: 0;
      bottom: auto;
      text-align: center;
      top: calc(50% - 30px);
      transform: translateY(-50%);
    }
    div {
      display: block;
      font-size: 40px;
      font-weight: 400;
      background: #000;
      white-space: nowrap;
      line-height: 1;
      @media only screen and (max-width: 767px) {
        font-size: 23px;
      }
    }
    .first {
    }
    .second {
      position: absolute;
      top: 15px;
      z-index: -1;
      left: 20px;
      @media only screen and (max-width: 767px) {
        top: 8px;
        text-align: center;
        right: 0;
      }
    }
  }
}
</style>
