<template>
  <div class="container-main history">
    <div class="history-title">{{ $t("history_title") }}</div>
    <swiper
      :direction="'vertical'"
      :pagination="{
        clickable: true,
      }"
      :modules="modules"
      class="history-slider"
    >
      <swiper-slide v-for="(item, index) in history" :key="index">
        <div class="item">
          <div class="year">{{ item.year }}</div>
          <div class="content">
            <h4>{{ item.title }}</h4>
            <div class="text">
              {{ item.text }}
              <ul v-if="item.list">
                <li v-for="(content, idx) in item.list" :key="idx">
                  {{ content.text }}
                </li>
              </ul>
            </div>
            <!-- <img :src="item.img" alt="" class="img" /> -->
          </div>
        </div></swiper-slide
      >
    </swiper>
  </div>
</template>

<script setup>
import { Pagination } from "swiper/modules";
import { useI18n } from "vue-i18n";
import { ref } from "vue";

const { t } = useI18n();
const modules = [Pagination];

const history = [
  {
    year: "2009",
    title: t("history[0].title"),
    text: t("history[0].text"),
    img: "/img/content/history/1.png",
  },
  {
    year: "2010",
    title: t("history[1].title"),
    text: t("history[1].text"),
    list: [
      {
        text: t("history[1].list[0].text"),
      },
      {
        text: t("history[1].list[1].text"),
      },
      {
        text: t("history[1].list[2].text"),
      },
    ],

    img: "/img/content/history/2.png",
  },
  {
    year: "2011",
    title: t("history[2].title"),
    text: t("history[2].text"),
    img: "/img/content/history/3.png",
  },
  {
    year: "2012-2013",
    title: t("history[3].title"),
    text: t("history[3].text"),
    img: "/img/content/history/4.png",
  },
  {
    year: "2014",
    title: t("history[4].title"),
    text: t("history[4].text"),
    img: "/img/content/history/5.png",
  },
  {
    year: "2015-2016",
    title: t("history[5].title"),
    text: t("history[5].text"),
    img: "/img/content/history/6.png",
  },
  {
    year: "2017",
    title: t("history[6].title"),
    text: t("history[6].text"),
    img: "/img/content/history/7.png",
  },
  {
    year: "2018",
    title: t("history[7].title"),
    text: t("history[7].text"),
    img: "/img/content/history/8.png",
  },
  {
    year: "2019-2023",
    title: t("history[8].title"),
    text: t("history[8].text"),
    img: "/img/content/history/9.png",
  },
];
</script>

<style lang="scss" scoped>
@import url("https://fonts.cdnfonts.com/css/soyuz-grotesk");

.history {
  margin-bottom: 120px;
  @media only screen and (max-width: 767px) {
    margin-bottom: 72px;
  }
  &-title {
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 40px;
    @media only screen and (max-width: 767px) {
      font-size: 28px;
      margin-bottom: 28px;
    }
  }
  &-slider {
    height: 400px;
    @media only screen and (max-width: 767px) {
      height: 450px;
    }
    .item {
      display: block;
      .year {
        font-size: 180px;
        font-weight: 700;
        letter-spacing: 7.2px;
        line-height: 1;
        font-family: "Soyuz Grotesk";
        padding-right: 16px;
        @media only screen and (max-width: 1199px) {
          font-size: 120px;
        }
        @media only screen and (max-width: 767px) {
          font-size: 90px;
        }
      }
      .content {
        padding-right: 50px;
        @media only screen and (max-width: 767px) {
          padding-right: 36px;
        }
        h4 {
          font-size: 24px;
          line-height: 135.8%;
          margin-bottom: 24px;
          font-weight: bold;
          @media only screen and (max-width: 767px) {
            font-size: 20px;
            margin-bottom: 16px;
          }
        }
        .text {
          font-size: 20px;
          font-weight: 600;
          line-height: 135.8%;
          margin-bottom: 24px;
          @media only screen and (max-width: 767px) {
            font-size: 16px;
            margin-bottom: 16px;
          }
        }
        .img {
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
        ul {
          padding-left: 30px;
          @media only screen and (max-width: 767px) {
            padding-left: 20px;
          }
          li {
            list-style: disc;
          }
        }
      }
    }
  }
}
</style>
