<template>
  <div class="leader">
    <img :src="leader.image" alt="" class="leader-image" />
    <h4>{{ leader.name }}</h4>
    <span>{{ leader.position }}</span>
    <div class="leader-text" v-show="show">{{ leader.text }}</div>
    <button @click="show = true" v-if="!show">{{ $t("read") }}</button>
    <div @click="show = false" class="hide" v-if="show">
      <img src="/img/icons/close.svg" alt="" />
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";

const props = defineProps({
  leader: {
    type: Object,
    default: () => {},
  },
});

const show = ref(false);
</script>

<style lang="scss" scoped>
.leader {
  text-align: center;
  max-width: 356px;
  width: 100%;
  @media only screen and (max-width: 1300px) {
    max-width: 324px;
  }
  @media only screen and (max-width: 991px) {
    max-width: 348px;
  }
  &-image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    @media only screen and (max-width: 767px) {
      width: 240px;
      height: 240px;
    }
  }
  h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 124.688%;
    letter-spacing: 0.48px;
    margin: 24px 0 6px 0;
    @media only screen and (max-width: 767px) {
      font-size: 24px;
    }
  }
  span {
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 135.8%;
    letter-spacing: 0.36px;
    color: #c9c9c9;
    margin-bottom: 24px;
    @media only screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  button {
    border: 2px solid #fff;
    border-radius: 20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.9px;
    padding: 4px 26px;
    color: #fff;
    margin: 0 auto;
    @media only screen and (max-width: 767px){
      margin: 0 auto 48px;
    }
    &:hover {
      border: 2px solid $green;
      color: #000;
      background: $green;
    }
  }
  &-text {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    @media only screen and (max-width: 767px) {
      font-size: 16px;
    }
  }
  .hide {
    margin: 24px auto 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: $green;
      border: 2px solid $green;
      img {
        -webkit-filter: grayscale(1) invert(1);
        filter: grayscale(1) invert(1);
      }
    }
  }
}
</style>
