<template>
  <Swiper navigation :modules="modules" class="leaderSlider">
    <swiper-slide
      class="slider-item"
      v-for="(leader, index) in leaders"
      :key="index"
    >
      <TheHomeLeader :leader="leader" />
    </swiper-slide>
  </Swiper>
</template>

<script setup>
import { Navigation } from "swiper/modules";

const modules = [Navigation];

const props = defineProps({
  leaders: Array,
});
</script>
