<template>
  <div class="product">
    <img
      v-if="myLocale === 'kz'"
      :src="product.image_kz"
      alt=""
      class="product-bg"
    />
    <img
      v-if="myLocale === 'ru'"
      :src="product.image"
      alt=""
      class="product-bg"
    />
    <img
      v-if="myLocale === 'en'"
      :src="product.image_en"
      alt=""
      class="product-bg"
    />
    <div class="product-content">
      <img :src="product.logo" alt="" />
      <div class="product-text">{{ product.text }}</div>
    </div>
    <a :href="product.link" target="_blank" class="product-link">
      <img src="/img/icons/next.svg" alt="" />
    </a>
  </div>
</template>

<script setup>
import { useStorage } from "@vueuse/core";
const myLocale = useStorage("myLocale");

const props = defineProps({
  product: {
    type: Object,
    default: () => {},
  },
});
</script>

<style scoped lang="scss">
.product {
  max-width: 600px;
  width: 100%;
  height: 485px;
  display: flex;
  align-items: flex-end;
  padding: 20px 60px;
  transition: 0.3s;
  position: relative;
  @media only screen and (max-width: 991px) {
    height: 302px;
  }
  @media only screen and (max-width: 767px) {
    padding: 20px 24px;
    margin: 0 -24px 28px;
    width: calc(100% + 48px);
  }
  &-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &-content {
    max-width: 168px;
    z-index: 1;
    img {
      margin-bottom: 32px;
      @media only screen and (max-width: 767px) {
        margin-bottom: 16px;
        width: 104px;
      }
    }
  }
  &-text {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    @media only screen and (max-width: 767px) {
      font-size: 16px;
    }
  }
  &-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(61, 61, 221, 0.77);
    display: none;
    align-items: center;
    justify-content: center;
    img {
    }
  }
  &:hover {
    transition: 0.3s;
    .product-link {
      display: flex;
    }
  }
}
</style>
