.container-main {
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
  // @media only screen and (min-width: 1840px) {
  //   max-width: 1650px;
  // }
  @media only screen and (max-width: 1300px) {
    max-width: 1170px;
    padding: 0 16px;
  }
  @media only screen and (max-width: 1199px) {
    max-width: 100%;
    padding: 0 16px;
  }
  @media only screen and (max-width: 767px) {
    padding: 0 24px;
  }
}

.dt {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
.mb {
  display: none;
  @media only screen and (max-width: 767px) {
    display: block;
  }
}

.history-slider {
  .swiper-vertical > .swiper-pagination-bullets,
  .swiper-pagination-vertical.swiper-pagination-bullets {
    top: 0px;
    transform: none;
    height: calc(100% - 8px);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 16px;
  }
  .swiper-pagination {
    &::before {
      content: "";
      width: 2px;
      height: 100%;
      background: rgba(255, 255, 255, 0.43);
      position: absolute;
      top: 0px;
      left: 7px;
    }
  }
  .swiper-pagination-bullet {
    width: 16px;
    padding: 3px 0;
    background: transparent;
    border-radius: 0;
    opacity: 1;
    margin: 0 !important;
    z-index: 1;
    &::before {
      content: "";
      background: #fff;
      width: 16px;
      height: 2px;
      display: block;
    }
  }
  .swiper-pagination-bullet-active {
    padding: 0;
    &::before {
      content: "";
      border-radius: 50%;
      background: $green;
      height: 16px;
    }
  }
}

.leaderSlider {
  .swiper-button-prev {
    width: 48px;
    height: 48px;
    background: url("/img/icons/left.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 100px !important;
    left: -10px;
    z-index: 11;
    &::after {
      display: none;
    }
  }
  .swiper-button-next {
    width: 48px;
    height: 48px;
    background: url("/img/icons/right.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 100px !important;
    right: -10px;
    z-index: 11;
    &::after {
      display: none;
    }
  }
}

.title_n {
  font-size: 40px;
  margin-bottom: 40px;
  letter-spacing: 2px;
  @media only screen and (max-width: 767px) {
    font-size: 28px;
    margin-bottom: 28px;
  }
}

.Sbutton {
  width: 48px;
  height: 48px;
  background: url("/img/icons/next2.svg");
  background-position: center;
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  @media only screen and (max-width: 1325px) {
    top: -60px;
    transform: translateY(0%);
  }
  @media only screen and (max-width: 767px) {
    display: none;
  }
  &.-prev {
    left: -50px;
    transform: rotate(180deg);
    top: 40%;
    @media only screen and (max-width: 1325px) {
      left: auto;
      right: 100px;
      top: -60px;
    }
  }
  &.-next {
    right: -50px;
    @media only screen and (max-width: 1325px) {
      right: 0;
    }
  }
  &.swiper-button-disabled {
    display: none;
  }
}
.reviews-slider {
  @media only screen and (max-width: 767px) {
    .swiper {
      padding-right: 50px;
    }
  }
}

.sertificates-slider {
  @media only screen and (max-width: 767px) {
    .swiper {
      padding: 0 66px;
    }
  }
}

.partners-top {
  .top-text {
    max-width: 690px;
  }
}
