<template>
  <div>
    <BaseTopPage :content="contentTop" />
    <div class="container-main career">
      <div class="career-content">
        <div class="career-title">{{ $t("career") }}</div>
        <div class="career-text">
          {{ $t("career_text_1") }} <br />
          {{ $t("career_text_2") }}
          <a href="mailto: hr@innoforce.kz ">hr@innoforce.kz </a>
          {{ $t("career_text_3") }}
        </div>
      </div>
      <img src="/img/content/career.png" alt="" class="career-img" />
    </div>
    <!-- <div class="container-main vacancies">
      <div class="vacancies-title">{{ $t("current_vacancies") }}</div>
      <div
        v-for="(vacancy, index) in vacancies"
        :key="index"
        class="vacancies-list"
      >
        <div class="vacancies-item">
          <nuxt-link to="">{{ vacancy.name }}</nuxt-link>
          <span v-if="vacancy.remotely">{{ $t("remotely") }}</span>
        </div>
        <div class="vacancies-city">{{ vacancy.city }}</div>
      </div>
    </div> -->
    <BaseForm :content="form" />
  </div>
</template>

<script setup>
import { useI18n } from "vue-i18n";
const { t } = useI18n();

useSeoMeta({
  title: t("career_meta.title"),
  ogTitle: t("career_meta.title"),
  description: t("career_meta.description"),
  ogDescription: t("career_meta.description"),
  keywords: t("career_meta.keywords")
});

const contentTop = {
  title: t("our_vacancies"),
  text: t("our_vacancies_text"),
};

const vacancies = [
  {
    name: t("business_analyst"),
    remotely: true,
    city: t("almaty"),
  },
  {
    name: t("frontend_developer"),
    remotely: false,
    city: t("astana"),
  },
  {
    name: t("smm_manager"),
    remotely: true,
    city: t("astana"),
  },
  {
    name: t("designer"),
    remotely: false,
    city: t("almaty"),
  },
  {
    name: t("project_manager"),
    remotely: false,
    city: t("almaty"),
  },
];

const form = {
  title: t("send_resume"),
  file: false,
  button: t("send"),
};
</script>

<style lang="scss" scoped>
.career {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 120px;
  @media only screen and (max-width: 767px) {
    flex-wrap: wrap;
    margin-top: 36px;
    margin-bottom: 32px;
  }
  &-title {
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 40px;
    @media only screen and (max-width: 767px) {
      font-size: 28px;
      margin-bottom: 28px;
    }
  }
  &-content {
    max-width: 498px;
    width: 100%;
    @media only screen and (max-width: 767px) {
      order: 2;
    }
  }
  &-text {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.36px;
    max-width: 600px;
    width: 100%;
    a {
      color: $green;
    }
  }
  &-img {
    height: 302px;
    padding-left: 15px;
    @media only screen and (max-width: 991px) {
      height: 190px;
    }
    @media only screen and (max-width: 767px) {
      order: 1;
      padding-left: 0px;
      margin-bottom: 32px;
    }
  }
}
.vacancies {
  margin-bottom: 120px;
  @media only screen and (max-width: 767px) {
    margin-bottom: 64px;
  }
  &-title {
    font-size: 28px;
    letter-spacing: 1.4px;
    margin-bottom: 40px;
    @media only screen and (max-width: 767px) {
        font-size: 24px;
    }
  }
  &-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    @media only screen and (max-width: 767px) {
         display: block;
    }
    a {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0.36px;
      text-decoration-line: underline;
      display: inline-block;
      margin-right: 24px;
    }
    span {
      color: $green;
      font-size: 18px;
      font-style: italic;
      font-weight: 400;
      letter-spacing: 0.36px;
    }
  }
  &-city {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.36px;
  }
}
</style>
