<template>
  <div>
    <div class="dropdown">
      <button
        class="dropdown-toggle text-md"
        type="button"
        id="dropdown-language"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ localTitle }}
        <span class="navbar-toggler-icon"
          ><img src="/img/icons/down.svg" alt=""
        /></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdown-language">
        <li>
          <button
            class="dropdown-item text-md"
            v-if="localTitle !== 'қазақша'"
            @click="setLocale('kz')"
          >
            қазақша
          </button>
        </li>
        <li>
          <button
            class="dropdown-item text-md"
            v-if="localTitle !== 'русский'"
            @click="setLocale('ru')"
          >
            русский
          </button>
        </li>
        <li>
          <button
            class="dropdown-item text-md"
            v-if="localTitle !== 'english'"
            @click="setLocale('en')"
          >
            english
          </button>
        </li>
      </ul>
    </div>
    <ul class="mobile-language">
      <li>
        <button class="text-md" @click="setLocale('ru')" v-if="lang !== 'ru'">
          Рус
        </button>
        <span v-else class="-active text-md">Рус</span>
      </li>
      <li>
        <button class="text-md" v-if="lang !== 'kz'" @click="setLocale('kz')">
          Қаз
        </button>
        <span v-else class="-active text-md">Қаз</span>
      </li>

      <li>
        <button class="text-md" v-if="lang !== 'en'" @click="setLocale('en')">
          Eng
        </button>
        <span v-else class="-active text-md">Eng</span>
      </li>
    </ul>
  </div>
</template>

<script setup>
import { useI18n } from "vue-i18n";
import { useStorage } from "@vueuse/core";
import { useRouter } from "vue-router";

const router = useRouter();
const { locale } = useI18n();
const localTitle = ref("");
const myLocale = useStorage("myLocale", "kz");

const getLocale = (key) => {
  if (key === "ru") {
    localTitle.value = "русский";
  }
  if (key === "kz") {
    localTitle.value = "қазақша";
  }
  if (key === "en") {
    localTitle.value = "english";
  }
};
const lang = ref();
if (process.client) {
  if (localStorage.myLocale) {
    getLocale(localStorage.myLocale);
    lang.value = localStorage.myLocale;
  } else {
    localTitle.value = "қазақша";
  }
}

const setLocale = (key) => {
  myLocale.value = key;
  locale.value = key;
  getLocale(key);
  router.go(0);
};

const { data } = useFetch("https://get.geojs.io/v1/ip/geo.json");
console.log(data);
const country = data.value?.country_code;
const getCountry = () => {
  if (country === "KZ") {
    setLocale("kz");
    sessionStorage.setItem("country", country);
  } else {
    setLocale("en");
    sessionStorage.setItem("country", country);
  }
};

if (process.client && !sessionStorage.getItem("country")) {
  getCountry();
}
</script>

<style lang="scss" scoped>
.dropdown {
  @media only screen and (max-width: 991px) {
    display: none;
  }
  &-toggle {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    &::after {
      display: none;
    }
    @media only screen and (max-width: 991px) {
      font-size: 18px;
    }
  }
  &-menu {
    padding: 0;
    overflow: hidden;
    margin-top: 8px !important;
  }
  &-item {
    padding: 6px 12px;
    font-weight: 700;
    font-size: 20px;
    &:hover,
    &:focus {
      background: $green;
    }
    @media only screen and (max-width: 991px) {
      font-size: 18px;
    }
  }
}
.mobile-language {
  display: none;
  @media only screen and (max-width: 991px) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  button, span {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    &.-active {
      color: $green;
    }
  }
}
</style>
