<template>
  <BaseTopPage :content="contentTop" />
  <div class="container-main">
    <div class="products">
      <div class="product" v-for="(item, index) in products" :key="index">
        <div class="product-content">
          <div class="product-title title_n">{{ item.title }}</div>
          <div class="product-text">
            <p>{{ item.text1 }}</p>
            <p>{{ item.text2 }}</p>
          </div>
          <a :href="item.link" class="product-link" target="_blank">{{
            item.link
          }}</a>
        </div>
        <img v-if="myLocale == 'ru'" :src="item.img" alt="" class="product-img" />
        <img v-if="myLocale == 'kz'" :src="item.img_kz" alt="" class="product-img" />
        <img v-if="myLocale == 'en'" :src="item.img_en" alt="" class="product-img" />
      </div>
    </div>
    <div class="past">
      <div class="title_n">{{ $t("past") }}</div>
      <div class="past-list">
        <div class="past-item" v-for="(item, index) in past" :key="index">
          <a :href="item.link" v-if="item.link" target="_blank" class="past-icon">
            <img src="/img/icons/upper_right_arrow.svg" alt="" />
          </a>
          <div class="past-title">{{ item.title }}</div>
          <div class="past-text">{{ item.text }}</div>
          <a
            :href="item.link"
            v-if="item.link"
            target="_blank"
            class="past-link"
            >{{ item.link }}</a
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useI18n } from "vue-i18n";
import { useStorage } from "@vueuse/core";

const myLocale = useStorage("myLocale");
const { t } = useI18n();

useSeoMeta({
  title: t("products_meta.title"),
  ogTitle: t("products_meta.title"),
  description: t("products_meta.description"),
  ogDescription: t("products_meta.description"),
  keywords: t("products_meta.keywords"),
});

const contentTop = {
  title: t("our_products"),
  text: t("our_products_text2"),
};

const products = [
  {
    title: t("avtobys.title"),
    text1: t("avtobys.text1"),
    text2: t("avtobys.text2"),
    link: "https://avtobys.kz",
    img: "/img/content/avtobys.png",
    img_kz: "/img/content/avtobys_kz.png",
    img_en: "/img/content/avtobys_en.png",
  },
  {
    title: t("innopay.title"),
    text1: t("innopay.text1"),
    text2: t("innopay.text2"),
    link: "https://innopay.kz",
    img: "/img/content/innopay.png",
    img_kz: "/img/content/innopay.png",
    img_en: "/img/content/innopay.png",
  },
];

const past = [
  {
    title: t("past_list[0].title"),
    text: t("past_list[0].text"),
  },
  {
    title: t("past_list[1].title"),
    text: t("past_list[1].text"),
  },
  {
    title: t("past_list[2].title"),
    text: t("past_list[2].text"),
  },
  {
    title: t("past_list[3].title"),
    text: t("past_list[3].text"),
  },
  {
    title: t("past_list[4].title"),
    text: t("past_list[4].text"),
    link: "https://vostokplat.kz",
  },
];
</script>

<style lang="scss" scoped>
.products {
  margin-top: 120px;
  @media only screen and (max-width: 767px) {
    margin-top: 64px;
  }
  .product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 160px;
    margin-bottom: 120px;
    @media only screen and (max-width: 991px) {
      gap: 20px;
    }
    @media only screen and (max-width: 767px) {
      flex-wrap: wrap;
      margin-bottom: 64px;
      gap: 0;
    }
    &-content {
      @media only screen and (max-width: 767px) {
        order: 2;
      }
    }
    &-text {
      font-size: 20px;
      font-weight: 600;
      line-height: 133.4%;
      margin-bottom: 40px;
      @media only screen and (max-width: 767px) {
        font-size: 18px;
      }
      p {
        margin-bottom: 20px;
      }
    }
    &-link {
      border-radius: 30px;
      border: 2px solid $green;
      color: $green;
      font-size: 16px;
      line-height: 135.8%;
      letter-spacing: 1.12px;
      text-decoration-line: underline;
      padding: 5px 25px;
      &:hover {
        background: $green;
        color: #000;
      }
      @media only screen and (max-width: 767px){
        margin: 0 auto;
        width: 220px;
        display: block;
      }
    }
    &-img {
      width: 400px;
      @media only screen and (max-width: 767px) {
        order: 1;
        margin-bottom: 32px;
        width: 100%;
      }
    }
    &:nth-child(2) {
      .product-img {
        order: 1;
      }
      .product-content {
        order: 2;
      }
    }
  }
}
.past {
  margin-bottom: 140px;
  @media only screen and (max-width: 767px) {
    margin-bottom: 72px;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @media only screen and (max-width: 767px) {
      gap: 20px;
    }
  }
  &-item {
    width: calc(50% - 15px);
    border: 1px solid #fff;
    padding: 26px 25px 40px;
    position: relative;
    @media only screen and (max-width: 767px) {
      width: 100%;
      padding: 40px 15px;
    }
  }
  &-title {
    font-size: 32px;
    letter-spacing: 1.6px;
    margin-bottom: 48px;
    width: 92%;
    @media only screen and (max-width: 767px) {
      font-size: 28px;
      margin-bottom: 40px;
    }
  }
  &-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 135.8%;
    letter-spacing: 0.36px;
  }
  &-link {
    border-radius: 30px;
    border: 2px solid $green;
    color: $green;
    font-size: 16px;
    line-height: 135.8%;
    letter-spacing: 1.12px;
    text-decoration-line: underline;
    padding: 5px 25px;
    margin-top: 20px;
    display: inline-block;
    &:hover {
      background: $green;
      color: #000;
    }
  }
  &-icon{
    position: absolute;
    top: 26px;
    right: 25px;
  }
}
</style>
