<template>
  <footer class="footer">
    <div class="container-main">
      <nuxt-link to="/" class="footer__logo">
        <img src="/img/logo_big.svg" alt="" />
      </nuxt-link>
      <ul class="footer-menu">
        <li>
          <nuxt-link to="/">{{ $t("home") }}</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/about">{{ $t("about") }}</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/products">{{ $t("products") }}</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/contacts">{{ $t("contacts") }}</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/for-partners">{{ $t("for_partners") }}</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/career">{{ $t("career") }}</nuxt-link>
        </li>
      </ul>
      <div class="footer-address">
        <p>{{ $t("address_text") }}</p>
      </div>
    </div>
  </footer>
</template>

<style lang="scss" scoped>
.footer {
  border-top: 1px solid #fff;
  padding: 83px 0 75px;
  @media only screen and (max-width: 767px) {
    padding: 50px 0;
  }
  .container-main {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 767px) {
      display: block;
    }
  }
  &-menu {
    li {
      margin-bottom: 13px;
    }
    a {
      color: #fff;
      font-size: 20px;
      border-bottom: 2px solid #000;
      @media only screen and (max-width: 767px) {
        font-size: 18px;
      }
      &:hover {
        border-bottom: 2px solid $green;
      }
    }
  }
  &-address {
    font-size: 18px;
    font-weight: 600;
    line-height: 154%;
    max-width: 373px;
    width: 100%;
    p{
      margin: 0;
    }
    @media only screen and (max-width: 767px) {
      margin-top: 35px;
       max-width: 235px;
    }
  }
  &__logo {
    padding-right: 20px;
    @media only screen and (max-width: 767px) {
      margin-bottom: 48px;
      padding: 0;
      display: inline-block;
    }
    img {
      @media only screen and (max-width: 767px) {
        height: 45px;
      }
    }
  }
}
</style>
