<template>
  <div class="form">
    <div class="container-main">
      <div class="form-title">{{ content.title }}</div>
      <img src="/img/content/mail.png" alt="" class="form-img" />
      <form
        ref="form"
        @submit.prevent="sendEmail"
        enctype="multipart/form-data"
      >
        <div class="form-item">
          <label for="">{{ $t("name") }}</label>
          <input type="text" name="name" :value="reset" required />
        </div>
        <div class="form-item">
          <label for="">{{ $t("phone_number") }}</label>
          <input
            type="text"
            name="phone_number"
            v-maska
            data-maska="+7 ### ### ## ##"
            :value="reset"
          />
        </div>
        <div class="form-item">
          <label for="">{{ $t("email") }}</label>
          <input type="email" name="email" :value="reset" required />
        </div>
        <div class="form-item">
          <label for="">{{ $t("comments") }}</label>
          <textarea name="comments" :value="reset"></textarea>
        </div>
        <div class="file" v-if="content.file">
          <label for="file" v-if="!file"
            >{{ $t("attach_resume") }}
            <input
              type="file"
              name="file"
              id="file"
              @change="previewFiles"
              :value="reset"
          /></label>
          <div class="file-item" v-else> <img src="/img/icons/file.svg" alt=""> {{ file }}</div>
        </div>
        <input
          type="text"
          name="title"
          :value="content.file ? t('send_resume') : t('become_partner')"
        />
        <button :class="{ '-disabled': isShow }">
          <span v-if="isShow"
            >{{ $t("sent") }} <img src="/img/icons/check.svg" alt="" /></span
          ><span v-else>{{ content.button }}</span>
        </button>
      </form>
    </div>
  </div>
</template>

<script setup>
import { useI18n } from "vue-i18n";
import emailjs from "emailjs-com";

const { t } = useI18n();

const props = defineProps({
  content: {
    type: Object,
  },
});

const form = ref(null);
const isShow = ref(false);
const reset = ref(null);
const file = ref(null);
const previewFiles = (event) => {
  file.value = event.target.files[0].name;
};

const sendEmail = () => {
  let user_id = "aH8tlEieZ0Mhl8z53";
  let service_id = "service_mwntxiv";
  let template_id = "template_opge0xk";

  emailjs.sendForm(service_id, template_id, form.value, user_id).then(
    (result) => {
      isShow.value = true;
      reset.value = null;
    },
    (error) => {
      console.log("FAILED...", error.text);
    }
  );
};
</script>

<style lang="scss" scoped>
.form {
  position: relative;
  margin-bottom: 140px;
  @media only screen and (max-width: 767px) {
    margin-bottom: 72px;
  }
  &-title {
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 36px;
    @media only screen and (max-width: 767px) {
      font-size: 28px;
      margin-bottom: 28px;
    }
  }
  &-img {
    max-width: 640px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    @media only screen and (max-width: 1199px) {
      max-width: 500px;
    }
    @media only screen and (max-width: 991px) {
      display: none;
    }
  }
  form {
    max-width: 424px;
    width: 100%;
    margin: 0 0 0 auto;
    @media only screen and (max-width: 991px) {
      margin: 0 auto;
    }
  }
  &-item {
    margin-bottom: 24px;
    @media only screen and (max-width: 767px) {
      margin-bottom: 16px;
    }
    label {
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 12px;
      display: block;
    }
    input {
      background: #fff;
      border: none;
      height: 40px;
      width: 100%;
      padding: 0 12px;
      color: #000;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 1px;
    }
    textarea {
      height: 160px;
      background: #fff;
      border: none;
      width: 100%;
      padding: 12px;
      color: #000;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
  button {
    color: #fff;
    font-size: 20px;
    line-height: 135.8%;
    letter-spacing: 1.4px;
    padding: 6px 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    line-height: 135.8%;
    font-weight: 700;
    @media only screen and (max-width: 767px) {
      margin: 0 auto;
    }
    &:hover {
      background: $green;
      color: #000;
      border: 1px solid $green;
    }
    img {
      width: 22px;
    }
    &.-disabled {
      pointer-events: none;
    }
  }
}
.file {
  margin-bottom: 30px;
  @media only screen and (max-width: 767px) {
    text-align: center;
  }
  label {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration-line: underline;
    cursor: pointer;
  }
  input {
    display: none;
  }
  &-item{
    display: flex;
    align-items: center;
    img{
      filter: brightness(0) invert(1);
      margin-right: 8px;
      height: 32px;
    }
  }
}
</style>
