<template>
  <header class="header container-main">
    <div class="mobile-top">
      <button class="mobile-toggle" @click="openMenu = true">
        <img src="/img/icons/menu.svg" alt="" />
      </button>
      <nuxt-link to="/" class="mobile-logo"
        ><img src="/img/logo_small.svg" alt=""
      /></nuxt-link>
    </div>
    <div class="header__content" :class="{ '-open': openMenu }">
      <button class="mobile-close" @click="openMenu = false">
        <img src="/img/icons/close.svg" alt="" />
      </button>
      <div class="header__content_top">
        <nuxt-link to="/" class="header__logo">
          <img src="/img/logo_small.svg" alt="" />
        </nuxt-link>
        <ul class="header__menu text-md">
          <li>
            <nuxt-link to="/about">{{ $t("about") }}</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/products">{{ $t("products") }}</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/contacts">{{ $t("contacts") }}</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/for-partners">{{ $t("for_partners") }}</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/career">{{ $t("career") }}</nuxt-link>
          </li>
        </ul>
      </div>
      <div class="header__content_bottom">
        <UiLanguages />
      </div>
    </div>
  </header>
</template>

<script setup>
import { ref } from "vue";
import { useRoute } from "vue-router";

const route = useRoute();
const openMenu = ref(false);

watch(
  () => route.path,
  () => {
    openMenu.value = false
  },
);

</script>

<style lang="scss" scoped>
.header {
  padding: 34px 0px;
  color: #fff;
  @media only screen and (max-width: 1200px) {
    padding: 34px 24px;
  }
  @media only screen and (max-width: 991px) {
    padding: 36px 24px;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 991px) {
      position: fixed;
      top: 0;
      left: -100%;
      bottom: 0;
      width: 100%;
      background: #000;
      padding: 30px;
      height: 100%;
      min-height: 100vh;
      z-index: 11;
      display: block;
      overflow: hidden;
      transition: all 0.5s ease-in-out;
      text-align: center;
    }
    &.-open {
      @media only screen and (max-width: 991px) {
        transition: all 0.5s ease-in-out;
        left: 0;
      }
    }
    &_top {
      display: flex;
      @media only screen and (max-width: 991px) {
        display: block;
      }
    }
    &_bottom {
      display: flex;
      align-items: center;
      @media only screen and (max-width: 991px) {
        display: block;
      }
    }
  }
  &__logo {
    margin-right: 130px;
    @media only screen and (max-width: 1200px) {
      margin-right: 30px;
    }
    @media only screen and (max-width: 991px) {
      margin-right: 0px;
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    font-size: 20px;
    @media only screen and (max-width: 991px) {
      display: block;
      padding-top: 16px;
      padding-bottom: 4px;
      margin-bottom: 4px;
      margin-top: 60px;
      font-size: 24px;
    }
    li {
      margin-right: 46px;
      @media only screen and (max-width: 1200px) {
        margin-right: 15px;
      }
      @media only screen and (max-width: 991px) {
        margin: 0 0 56px 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      white-space: nowrap;
      color: #fff;
      border-bottom: 2px solid #000;
      &:hover {
        border-bottom: 2px solid $green;
      }
      &.router-link-active.router-link-exact-active {
       border-bottom: 2px solid $green;
      }
    }
  }
}
.mobile {
  &-top {
    display: none;
    width: 100%;
    position: relative;
    text-align: center;
    @media only screen and (max-width: 991px) {
      display: block;
    }
  }
  &-close {
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
    @media only screen and (max-width: 991px) {
      display: block;
    }
  }
  &-toggle {
    padding: 6px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
</style>
