<template>
  <div class="container-main top">
    <h1 class="top-title">{{ content.title }}</h1>
    <div class="top-flex">
      <img src="/img/icons/line.svg" alt="" class="top-img" />
      <div class="top-text">
        <p>
          {{ content.text }}
          <span v-if="content.text2"
            ><br />
            {{ content.text2 }}</span
          >
        </p>
        <nuxt-link v-if="content.link" :to="content.link">
          {{ content.link_text }}
        </nuxt-link>
        <button v-if="content.ref" @click="$emit('scrollTo')">
          {{ content.link_text }}
        </button>
      </div>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  content: Object,
});
</script>

<style lang="scss" scoped>
.top {
  position: relative;
  &-title {
    font-size: 84px;
    letter-spacing: 4.2px;
    max-width: 875px;
    width: 100%;
    font-weight: 700;
    line-height: 100%;
    margin: 106px 0 64px 135px;
    @media only screen and (max-width: 1199px) {
      margin: 50px 0 64px 50px;
    }
    @media only screen and (max-width: 991px) {
      font-size: 54px;
      margin: 40px 0;
    }
    @media only screen and (max-width: 767px) {
      font-size: 36px;
      margin: 36px 0 20px;
      width: 80%;
    }
    @media only screen and (max-width: 369px) {
      font-size: 29px;
    }
  }
  &-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &-text {
    max-width: 710px;
    width: 100%;
    p {
      font-size: 24px;
      line-height: 134.8%;
      margin-bottom: 40px;
      @media only screen and (max-width: 767px) {
        font-size: 20px;
        margin-bottom: 28px;
      }
      br{
         @media only screen and (max-width: 767px) {
          display: none;
         }
      }
    }
    a,
    button {
      font-size: 20px;
      line-height: 135.8%;
      letter-spacing: 1px;
      color: #fff;
      border: 2px solid #fff;
      padding: 5px 15px;
      border-radius: 20px;
      display: inline-block;
      font-weight: bold;
      &:hover {
        background: $green;
        color: #000;
        border: 2px solid $green;
      }
       @media only screen and (max-width: 767px) {
        margin: 0 auto;
        display: block;
        width: 220px;
        text-align: center;
       }
    }
  }
  &-img {
    @media only screen and (max-width: 767px) {
      position: absolute;
      bottom: -10px;
      right: 24px;
      width: 40px;
    }
  }
}
</style>
