<template>
  <div class="sertificates-slider">
    <Swiper
      :spaceBetween="30"
      :navigation="{
        prevEl: prev,
        nextEl: next,
      }"
      :modules="modules"
      :slides-per-view="1"
      :breakpoints="{ 767: { slidesPerView: 5, spaceBetween: 50 } }"
    >
      <swiper-slide
        class="slider-item"
        v-for="(img, index) in sertificates"
        :key="index"
      >
        <div class="sertificate">
          <img :src="img" alt="" @click="() => show(index)" />
        </div>
      </swiper-slide>
    </Swiper>
    <div ref="prev" class="Sbutton -prev"></div>
    <div ref="next" class="Sbutton -next"></div>
  </div>
  <client-only>
    <vue-easy-lightbox
      :visible="visible"
      :index="index"
      :imgs="sertificates"
      @hide="visible = false"
    />
  </client-only>
</template>

<script setup>
import { Navigation } from "swiper/modules";

const modules = [Navigation];

const prev = ref(null);
const next = ref(null);
const visible = ref(false);
const index = ref(0);

const sertificates = [
  "/img/content/certificate/big/1.jpg",
  "/img/content/certificate/big/2.jpg",
  "/img/content/certificate/big/3.jpg",
  "/img/content/certificate/big/4.jpg",
  "/img/content/certificate/big/5.jpg",
  "/img/content/certificate/big/6.jpg",
  "/img/content/certificate/big/7.jpg",
  "/img/content/certificate/big/8.jpg",
];

const show = (idx) => {
  index.value = idx;
  visible.value = true;
};
</script>

<style lang="scss" scoped>
.sertificates-slider {
  position: relative;
}
.sertificate {
  img {
    width: 194px;
    height: 194px;
    object-fit: cover;
    object-position: left;
    border-radius: 50%;
    border: 5px solid #fff;
  }
}
</style>
