<template>
  <div class="reviews-slider">
    <Swiper
      :spaceBetween="30"
      :navigation="{
        prevEl: prev,
        nextEl: next,
      }"
      :modules="modules"
      :slides-per-view="1"
      :breakpoints="{ 767:{ slidesPerView:3 } }"
    >
      <swiper-slide
        class="slider-item"
        v-for="(item, index) in reviews"
        :key="index"
      >
        <div class="review">
          <div class="review-top">
            <img :src="item.img" alt="" /> <span>{{ item.name }}</span>
          </div>
          <p>{{ item.text }}</p>
        </div>
      </swiper-slide>
    </Swiper>
    <div ref="prev" class="Sbutton -prev"></div>
    <div ref="next" class="Sbutton -next"></div>
  </div>
</template>

<script setup>
import { Navigation } from "swiper/modules";
import { useI18n } from "vue-i18n";

const { t } = useI18n();
const modules = [Navigation];

const prev = ref(null);
const next = ref(null);

const reviews = [
  {
    name: t("reviews_list[0].title"),
    text: t("reviews_list[0].text"),
    img: "/img/content/avtobys-pv.png",
  },
  {
    name: t("reviews_list[1].title"),
    text: t("reviews_list[1].text"),
    img: "/img/content/smartqala-oral.png",
  },
  {
    name: t("reviews_list[2].title"),
    text: t("reviews_list[2].text"),
    img: "/img/content/smartqala-aqtobe.png",
  },
];
</script>

<style lang="scss" scoped>
.review {
  &-top {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    @media only screen and (max-width: 767px){
      margin-bottom: 30px;
    }
    img {
      min-width: 56px;
      height: 56px;
      object-fit: cover;
      margin-right: 16px;
    }
    span {
      font-size: 24px;
      letter-spacing: 1.2px;
    }
  }
  p {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.36px;
    margin: 0;
  }
}
.reviews-slider {
  position: relative;
}
.swiper-slide {
  height: auto;
    border: 1px solid #fff;
  padding: 30px 34px 38px;
    @media only screen and (max-width: 991px){
    padding: 16px;
  }

}
</style>
