<template>
  <BaseTopPage :content="contentTop" />
  <div class="about">
    <div class="container-main">
      <div class="about-content">
        <div class="about-item">
          <div class="about-title">{{ $t("mission") }}</div>
          <div class="about-text">{{ $t("mission_text") }}</div>
        </div>
        <div class="about-item">
          <div class="about-title">{{ $t("strategy") }}</div>
          <div class="about-text">
            {{ $t("strategy_text1") }} <br />
            {{ $t("strategy_text2") }}
          </div>
        </div>
      </div>
      <img src="/img/content/team.png" alt="" class="about-img" />
    </div>
  </div>
  <div class="container-main">
    <div class="values">
      <div class="title_n">{{ $t("our_values") }}</div>
      <div class="values-list">
        <div class="values-item" v-for="(item, index) in values" :key="index">
          <div class="values-title">{{ item.title }}</div>
          <div class="values-text">{{ item.text }}</div>
        </div>
      </div>
    </div>
    <div class="reviews">
      <div class="title_n">{{ $t("reviews") }}</div>
      <TheAboutReviewsSlider />
    </div>
    <div class="certificate">
      <div class="title_n">{{ $t("certificates") }}</div>
      <TheAboutCertificateSlider />
    </div>
  </div>
</template>

<script setup>
import { useI18n } from "vue-i18n";
const { t } = useI18n();

useSeoMeta({
  title: t("about_meta.title"),
  ogTitle: t("about_meta.title"),
  description: t("about_meta.description"),
  ogDescription: t("about_meta.description"),
  keywords: t("about_meta.keywords"),
});

const contentTop = {
  title: t("about_title"),
  text: t("about_text"),
};

const values = [
  {
    title: t("our_values_list[0].title"),
    text: t("our_values_list[0].text"),
  },
  {
    title: t("our_values_list[1].title"),
    text: t("our_values_list[1].text"),
  },
  {
    title: t("our_values_list[2].title"),
    text: t("our_values_list[2].text"),
  },
  {
    title: t("our_values_list[3].title"),
    text: t("our_values_list[3].text"),
  },
  {
    title: t("our_values_list[4].title"),
    text: t("our_values_list[4].text"),
  },
];
</script>

<style lang="scss" scoped>
.about {
  background: $purple;
  padding: 60px 0;
  margin-top: 20px;
  margin-bottom: 60px;
  @media only screen and (max-width: 767px) {
    padding: 32px 0;
    margin-bottom: 32px;
  }
  .container-main {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    @media only screen and (max-width: 991px) {
      display: block;
    }
  }
  &-item {
    margin-bottom: 56px;
    @media only screen and (max-width: 767px) {
      margin-bottom: 28px;
    }
  }
  &-title {
    font-size: 36px;
    letter-spacing: 1.8px;
    margin-bottom: 24px;
    @media only screen and (max-width: 767px) {
      font-size: 28px;
    }
  }
  &-text {
    font-size: 20px;
    font-weight: 600;
    line-height: 135.8%;
    letter-spacing: 0.4px;
  }
  &-img {
    max-width: 598px;
    width: 100%;
    object-fit: contain;
  }
}
.values {
  margin-bottom: 120px;
  @media only screen and (max-width: 767px) {
    margin-bottom: 64px;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 70px;
    justify-content: space-between;
  }
  &-item {
    width: calc(50% - 35px);
    padding-left: 40px;
    @media only screen and (max-width: 767px) {
      width: 100%;
      &:nth-child(2n + 1) {
        order: 1;
      }
      &:nth-child(2n) {
        order: 2;
      }
    }
  }
  &-title {
    font-size: 24px;
    line-height: 135.8%;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
    position: relative;
    @media only screen and (max-width: 991px) {
      font-size: 20px;
    }
    &::before {
      position: absolute;
      left: -40px;
      content: url("/img/icons/line2.svg");
    }
  }
  &-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 135.8%;
    letter-spacing: 0.36px;
  }
}
.reviews {
  margin-bottom: 120px;
  @media only screen and (max-width: 767px) {
    margin-bottom: 64px;
  }
}
.certificate {
  margin-bottom: 140px;
  @media only screen and (max-width: 767px) {
    margin-bottom: 72px;
  }
}
</style>
