<template>
  <div class="home">
    <BaseTopPage :content="contentTop" />
    <div class="home-our_products container-main">
      <div class="home-our_products__title">
        {{ $t("our_products") }}
      </div>
      <div class="home-our_products__list">
        <TheHomeProduct
          v-for="(product, index) in products"
          :key="index"
          :product="product"
        />
      </div>
      <div class="home-our_products__text">
        <p>{{ $t("our_products_text") }}</p>
        <img src="/img/icons/star.svg" alt="" />
      </div>
    </div>
    <!-- <marquee direction="left" scrollamount="15" behavior="loop" class="marquee">
      {{ $t("power_innovation") }}
    </marquee> -->
    <div class="home-our_leaders container-main">
      <div class="home-our_leaders-title">{{ $t("our_leaders") }}</div>
      <div class="home-our_leaders-list">
        <TheHomeLeader
          v-for="(leader, index) in leaders"
          :key="index"
          :leader="leader"
        />
        <nuxt-link to="/about" class="next">
          <div class="img">
            <img src="/img/icons/upper_right_arrow.svg" alt="" />
          </div>
          <span>{{ $t("more_about_us") }}</span>
        </nuxt-link>
      </div>
      <div class="home-our_leaders-slider">
        <TheHomeLeaderSlider :leaders="leaders" />
        <nuxt-link to="/about" class="next">
          <span>{{ $t("more_about_us") }}</span>
          <img src="/img/icons/upper_right_arrow_green.svg" alt="" />
        </nuxt-link>
      </div>
    </div>
    <TheHomeHistory />
  </div>
</template>

<script setup>
import { useI18n } from "vue-i18n";

const { t } = useI18n();

useSeoMeta({
  title: t("home_meta.title"),
  ogTitle: t("home_meta.title"),
  description: t("home_meta.description"),
  ogDescription: t("home_meta.description"),
  keywords: t("home_meta.keywords"),
});

const contentTop = {
  title: t("home_top_title"),
  text: t("home_top_text"),
  link: "/products",
  link_text: t("more"),
};

const products = [
  {
    image: "/img/content/product1.png",
    image_kz: "/img/content/product1_kz.png",
    image_en: "/img/content/product1_en.png",
    logo: "/img/content/avtobys.svg",
    text: t("products_list[0].text"),
    link: "https://avtobys.kz/",
  },
  {
    image: "/img/content/product2.png",
    image_kz: "/img/content/product2.png",
    image_en: "/img/content/product2.png",
    logo: "/img/content/innopay.svg",
    text: t("products_list[1].text"),
    link: "https://innopay.kz/",
  },
];

const leaders = [
  {
    image: "/img/content/leaders/1.png",
    name: t("leaders[0].name"),
    position: t("leaders[0].position"),
    text: t("leaders[0].text"),
  },
  {
    image: "/img/content/leaders/2.png",
    name: t("leaders[1].name"),
    position: t("leaders[1].position"),
    text: t("leaders[1].text"),
  },
  {
    image: "/img/content/leaders/3.png",
    name: t("leaders[2].name"),
    position: t("leaders[2].position"),
    text: t("leaders[2].text"),
  },
  {
    image: "/img/content/leaders/4.png",
    name: t("leaders[3].name"),
    position: t("leaders[3].position"),
    text: t("leaders[3].text"),
  },
  {
    image: "/img/content/leaders/5.png",
    name: t("leaders[4].name"),
    position: t("leaders[4].position"),
    text: t("leaders[4].text"),
  },
];
</script>

<style lang="scss" scoped>
.home {
  &-our_products {
    margin-top: 120px;
    margin-bottom: 120px;
    @media only screen and (max-width: 991px) {
      margin-top: 64px;
      margin-bottom: 64px;
    }
    &__title {
      font-size: 40px;
      letter-spacing: 2px;
      margin-bottom: 40px;
      @media only screen and (max-width: 767px) {
        font-size: 28px;
        margin-bottom: 28px;
      }
    }
    &__list {
      display: flex;
      gap: 30px;
      margin-bottom: 64px;
      @media only screen and (max-width: 991px) {
        gap: 16px;
      }
      @media only screen and (max-width: 767px) {
        display: block;
        margin-bottom: 0;
      }
    }
    &__text {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-right: 68px;
      position: relative;
      @media only screen and (max-width: 767px) {
        padding-right: 0;
      }
      p {
        max-width: 912px;
        width: 100%;
        font-size: 24px;
        line-height: 135.8%;
        margin: 0;
        @media only screen and (max-width: 767px) {
          font-size: 20px;
        }
      }
      img {
        @media only screen and (max-width: 767px) {
          position: absolute;
          right: 0;
          bottom: -40px;
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  &-scroll_text {
    font-size: 328px;
    line-height: 1.2;
  }
  .marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 414px;
    overflow-x: hidden;
    background: $purple;
    margin-bottom: 120px;
    font-size: 328px;
    line-height: 1;
    letter-spacing: 22.96px;
    white-space: nowrap;
    @media only screen and (max-width: 1300px) {
      height: 320px;
      font-size: 280px;
    }
    @media only screen and (max-width: 1199px) {
      height: 280px;
      font-size: 240px;
    }
    @media only screen and (max-width: 767px) {
      height: 210px;
      margin-bottom: 64px;
      font-size: 184px;
    }
  }
  &-our_leaders {
    margin-bottom: 120px;
    @media only screen and (max-width: 767px) {
      margin-bottom: 64px;
    }
    &-title {
      font-size: 40px;
      letter-spacing: 2px;
      margin-bottom: 42px;
      @media only screen and (max-width: 767px) {
        font-size: 28px;
        margin-bottom: 28px;
      }
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 82px;
      @media only screen and (max-width: 991px) {
        gap: 40px;
      }
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
    &-slider {
      display: none;
      @media only screen and (max-width: 767px) {
        display: block;
      }
      .next {
        margin-top: 48px;
        span {
          color: $green !important;
        }
        img {
          margin-left: 20px;
        }
      }
    }
  }
  .next {
    text-align: center;
    display: block;
    height: 100%;
    margin: 0 auto;
    .img {
      border: 2px solid #fff;
      border-radius: 50%;
      width: 112px;
      height: 112px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 18px;
    }
    span {
      font-size: 18px;
      color: #fff;
    }
    &:hover {
      .img {
        background: $green;
        border: 2px solid $green;
        img {
          -webkit-filter: grayscale(1) invert(1);
          filter: grayscale(1) invert(1);
        }
      }
    }
  }
}
</style>
