<template>
  <div>
    <BaseTopPage
      :content="contentTop"
      @scroll-to="callback"
      class="partners-top"
    />
    <div class="container-main">
      <div class="achievements">
        <div class="achievements-content">
          <div class="achievements-title title_n">{{ $t("achievements") }}</div>
          <div class="achievements-text">
            <p>{{ $t("achievements_text1") }}</p>
            <p>{{ $t("achievements_text2") }}</p>
          </div>
        </div>
        <div class="achievements-list">
          <div
            class="achievements-item"
            v-for="(item, index) in achievements_list"
            :key="index"
          >
            <span>{{ item.number }}</span>
            <p>{{ item.text }}</p>
          </div>
        </div>
      </div>
      <div class="partners">
        <div class="partners-title title_n">{{ $t("our_partners") }}</div>
        <div class="partners-text">{{ $t("our_partners_text") }}</div>
        <div class="partners-list">
          <img
            src="/img/content/partners/mastercard.png"
            alt=""
            class="partners-img"
          />
          <img
            src="/img/content/partners/visa.png"
            alt=""
            class="partners-img"
          />
          <img
            src="/img/content/partners/activ.png"
            alt=""
            class="partners-img"
          />
          <img
            src="/img/content/partners/beeline.png"
            alt=""
            class="partners-img"
          />
          <img
            src="/img/content/partners/kcell.png"
            alt=""
            class="partners-img"
          />
          <img
            src="/img/content/partners/kaspi.png"
            alt=""
            class="partners-img"
          />
          <img
            src="/img/content/partners/halyk.png"
            alt=""
            class="partners-img"
          />
          <img
            src="/img/content/partners/tele2.png"
            alt=""
            class="partners-img"
          />
        </div>
      </div>
      <div class="partners">
        <div class="partners-title title_n">{{ $t("operator_partners") }}</div>
        <div class="partners-text">{{ $t("operator_partners_text") }}</div>
        <div class="partners-list">
          <div class="partners-item">
            <img
              src="/img/content/partners/cts.png"
              alt=""
              class="partners-img"
            />
            <span>{{ $t("partners_text.first") }}</span>
          </div>
          <div class="partners-item">
            <img
              src="/img/content/partners/avtobys-aqtobe.png"
              alt=""
              class="partners-img"
            />
            <span>{{ $t("partners_text.second") }}</span>
          </div>
          <div class="partners-item">
            <img
              src="/img/content/partners/avtobys-jezqazgan.png"
              alt=""
              class="partners-img"
            />
            <span>{{ $t("partners_text.third") }}</span>
          </div>
          <div class="partners-item">
            <img
              src="/img/content/partners/smart-concept.png"
              alt=""
              class="partners-img"
            />
            <span>{{ $t("partners_text.fourth") }}</span>
          </div>
          <div class="partners-item">
            <img
              src="/img/content/partners/smartqala.png"
              alt=""
              class="partners-img"
            />
            <span>{{ $t("partners_text.fifth") }}</span>
          </div>
          <div class="partners-item">
            <img
              src="/img/content/partners/smartqala-oral.png"
              alt=""
              class="partners-img"
            />
            <span>{{ $t("partners_text.sixth") }}</span>
          </div>
          <div class="partners-item">
            <img
              src="/img/content/partners/avtobys-pv.png"
              alt=""
              class="partners-img"
            />
            <span>{{ $t("partners_text.seventh") }}</span>
          </div>
        </div>
      </div>
      <div class="innoforce">
        <div class="innoforce-title title_n">
          {{ $t("why_choose_innoforce") }}
        </div>
        <div class="innoforce-list">
          <div
            class="innoforce-item"
            v-for="(item, index) in list"
            :key="index"
          >
            <div class="innoforce-flex">
              <span>{{ item.title }}</span>
              <img :src="item.img" alt="" />
            </div>
            <p>{{ item.text }}</p>
          </div>
        </div>
      </div>
      <div class="cities">
        <div class="cities-title title_n">{{ $t("cities_where_we_are") }}</div>
        <div class="cities-map">
          <img
            v-if="myLocale == 'ru'"
            src="/img/content/map.png"
            alt=""
            class="cities-img dt"
          />
          <img
            v-if="myLocale == 'kz'"
            src="/img/content/map_kz.png"
            alt=""
            class="cities-img dt"
          />
          <img
            v-if="myLocale == 'en'"
            src="/img/content/map_en.png"
            alt=""
            class="cities-img dt"
          />
          <img
            v-if="myLocale == 'ru'"
            src="/img/content/map_mb.png"
            alt=""
            class="cities-img mb"
          />
          <img
            v-if="myLocale == 'kz'"
            src="/img/content/map_mb_kz.png"
            alt=""
            class="cities-img mb"
          />
          <img
            v-if="myLocale == 'en'"
            src="/img/content/map_mb_en.png"
            alt=""
            class="cities-img mb"
          />
        </div>
      </div>
    </div>
    <div ref="feedback">
      <BaseForm :content="form" />
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
import { useI18n } from "vue-i18n";
import { useStorage } from "@vueuse/core";

const myLocale = useStorage("myLocale");
const { t } = useI18n();

useSeoMeta({
  title: t("for_partners_meta.title"),
  ogTitle: t("for_partners_meta.title"),
  description: t("for_partners_meta.description"),
  ogDescription: t("for_partners_meta.description"),
  keywords: t("for_partners_meta.keywords"),
});

const contentTop = {
  title: t("our_capabilities"),
  text: t("our_capabilities_text"),
  text2: t("our_capabilities_text2"),
  link_text: t("become_partner"),
  ref: true,
};

const feedback = ref(null);

const callback = () => {
  feedback.value.scrollIntoView({ behavior: "smooth" });
};

const achievements_list = [
  {
    number: "15",
    text: t("cities"),
  },
  {
    number: `3${t("million")}`,
    text: t("users"),
  },
  {
    number: `1${t("million")}`,
    text: t("downloads"),
  },
  {
    number: "100%",
    text: t("transparency"),
  },
];

const list = [
  {
    title: t("why_choose_innoforce_list[0].title"),
    text: t("why_choose_innoforce_list[0].text"),
    img: "/img/icons/icon1.svg",
  },
  {
    title: t("why_choose_innoforce_list[1].title"),
    text: t("why_choose_innoforce_list[1].text"),
    img: "/img/icons/icon2.svg",
  },
  {
    title: t("why_choose_innoforce_list[2].title"),
    text: t("why_choose_innoforce_list[2].text"),
    img: "/img/icons/icon3.svg",
  },
  {
    title: t("why_choose_innoforce_list[3].title"),
    text: t("why_choose_innoforce_list[3].text"),
    img: "/img/icons/icon4.svg",
  },
];

const form = {
  title: t("become_partner"),
  file: false,
  button: t("become_partner"),
};
</script>

<style lang="scss" scoped>
.achievements {
  margin: 120px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 58px;
  @media only screen and (max-width: 767px) {
    margin: 64px 0;
    gap: 0;
    flex-wrap: wrap;
  }
  &-content {
    max-width: 598px;
    width: 100%;
    @media only screen and (max-width: 1199px) {
      max-width: 405px;
    }
    @media only screen and (max-width: 767px) {
      max-width: 100%;
      order: 2;
    }
  }
  &-text {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.36px;
    p {
      margin: 0;
    }
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    @media only screen and (max-width: 767px) {
      order: 1;
      margin-bottom: 32px;
    }
  }
  &-item {
    background: #5d44b2;
    width: 270px;
    height: 164px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding-left: 45px;
    @media only screen and (max-width: 1300px) {
      width: 248px;
    }
    @media only screen and (max-width: 1199px) {
      width: 234px;
    }
    @media only screen and (max-width: 991px) {
      width: 142px;
      height: 86px;
      padding-left: 24px;
    }
    &:nth-child(1) {
      margin-top: 50px;
      @media only screen and (max-width: 991px) {
        margin-top: 30px;
      }
    }
    &:nth-child(4) {
      margin-top: -50px;
      @media only screen and (max-width: 991px) {
        margin-top: -30px;
      }
    }
    &:nth-child(2n + 1) {
      border-radius: 130px 0px 130px 130px;
      @media only screen and (max-width: 991px) {
        border-radius: 80px 0px 80px 80px;
      }
    }
    &:nth-child(2n) {
      border-radius: 130px 130px 130px 0px;
      @media only screen and (max-width: 991px) {
        border-radius: 80px 80px 80px 0px;
      }
    }
    span {
      font-size: 58px;
      display: block;
      width: 100%;
      line-height: 1.1;
      @media only screen and (max-width: 1199px) {
        font-size: 46px;
      }
      @media only screen and (max-width: 991px) {
        font-size: 31px;
      }
    }
    p {
      font-size: 18px;
      letter-spacing: 0.72px;
      margin: 0;
      @media only screen and (max-width: 991px) {
        font-size: 10px;
      }
    }
  }
}
.partners {
  &-text {
    max-width: 98%;
    width: 100%;
    margin-bottom: 48px;
    font-size: 18px;
    font-weight: 600;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 48px;
    @media only screen and (max-width: 767px) {
      flex-wrap: nowrap;
      overflow: scroll;
    }
  }
  &-img {
    width: 285px;
    object-fit: cover;
    &_icon {
      margin-top: -34px;
    }
    @media only screen and (max-width: 1300px) {
      width: 262px;
    }
    @media only screen and (max-width: 1199px) {
      width: 216px;
    }
    @media only screen and (max-width: 991px) {
      width: 224px;
    }
    @media only screen and (max-width: 767px) {
      width: 85%;
    }
  }
  &-img2 {
    width: 372px;
    object-fit: cover;
    @media only screen and (max-width: 1300px) {
      width: 342px;
    }
    @media only screen and (max-width: 1199px) {
      width: 280px;
    }
    @media only screen and (max-width: 991px) {
      width: 208px;
    }
    @media only screen and (max-width: 767px) {
      width: 85%;
    }
  }
  &-item {
    @media only screen and (max-width: 991px) {
      min-width: 290px;
    }
    @media only screen and (max-width: 767px) {
      min-width: 85%;
    }
    .partners-img {
      @media only screen and (max-width: 767px) {
        width: 100%;
      }
    }
    span {
      display: block;
      font-size: 16px;
      font-weight: 600;
      margin-top: 10px;
    }
  }
}
.innoforce {
  margin: 120px 0;
  @media only screen and (max-width: 767px) {
    margin: 64px 0;
  }
  &-list {
    display: flex;
    justify-content: space-between;
    gap: 65px 80px;
    flex-wrap: wrap;
    @media only screen and (max-width: 767px) {
      gap: 0;
    }
  }
  &-item {
    width: calc(50% - 40px);
    @media only screen and (max-width: 767px) {
      width: 100%;
      margin-bottom: 28px;
      &:nth-child(2n + 1) {
        order: 1;
      }
      &:nth-child(2n) {
        order: 2;
      }
    }
    p {
      font-size: 18px;
      font-weight: 600;
      line-height: 135.8%;
      letter-spacing: 0.36px;
      margin: 0;
    }
  }
  &-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-right: 60px;
    @media only screen and (max-width: 767px) {
      flex-wrap: wrap;
      padding-right: 0;
    }
    span {
      font-size: 24px;
      letter-spacing: 0.48px;
      @media only screen and (max-width: 767px) {
        order: 2;
        width: 100%;
      }
    }
    img {
      @media only screen and (max-width: 767px) {
        order: 1;
        margin-bottom: 20px;
        width: 36px;
      }
    }
  }
}
.cities {
  margin-bottom: 60px;
  &-map {
    .dt {
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
    .mb {
      display: none;
      @media only screen and (max-width: 767px) {
        display: block;
      }
    }
    img {
      @media only screen and (max-width: 767px) {
        height: 100%;
        width: 100%;
      }
    }
  }
}
</style>
