<template>
  <div class="container-main">
    <div class="contacts">
      <div class="contacts-title">
        {{ $t("our_contacts") }} <img src="/img/icons/star.svg" alt="" />
      </div>
      <div class="contacts-block">
        <div class="first">{{ $t("too") }}</div>
        <div class="second">
          <div class="flex">
            <img src="/img/icons/address.svg" alt="" /> {{ $t("address_text") }}
          </div>
          <div class="flex">
            <img src="/img/icons/tel.svg" alt="" />
            <a href="tel:+ 7 (727) 317 47 06">+ 7 (727) 317 47 06</a>
          </div>
          <div class="flex">
            <img src="/img/icons/mail.svg" alt="" />
            <a href="mailto:info@innoforce.kz">info@innoforce.kz</a>
          </div>
        </div>
      </div>
      <div class="contacts-block">
        <div class="first">{{ $t("social") }}</div>
        <div class="second social">
          <a
            href="https://instagram.com/avtobyskz?igshid=MTNiYzNiMzkwZA=="
            target="_blank"
            ><img src="/img/icons/instagram.svg" alt=""
          /></a>
          <a href="https://t.me/avtobyskz" target="_blank"
            ><img src="/img/icons/telegram.svg" alt=""
          /></a>
          <a
            href="https://www.facebook.com/avtobyskz?locale=ru_RU"
            target="_blank"
            ><img src="/img/icons/facebook.svg" alt=""
          /></a>
        </div>
      </div>
    </div>
    <div class="contacts-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.5331513284964!2d76.92653457629842!3d43.26120517112349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836fa196a8675d%3A0x58c5ee5560d7796a!2z0JbQuNCx0LXQuiDQltC-0LvRiywg0LzQvdC-0LPQvtGE0YPQvdC60YbQuNC-0L3QsNC70YzQvdGL0Lkg0YbQtdC90YLRgA!5e0!3m2!1sru!2skz!4v1706521113670!5m2!1sru!2skz"
        width="100%"
        height="560"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</template>

<script setup>
import { useI18n } from "vue-i18n";
const { t } = useI18n();

useSeoMeta({
  title: t("contacts_meta.title"),
  ogTitle: t("contacts_meta.title"),
  description: t("contacts_meta.description"),
  ogDescription: t("contacts_meta.description"),
  keywords: t("contacts_meta.keywords"),
});
</script>

<style lang="scss" scoped>
.contacts {
  max-width: 940px;
  width: 100%;
  margin: 50px auto 0;
  @media only screen and (max-width: 767px) {
    margin: 30px auto 0;
  }
  &-title {
    font-size: 84px;
    letter-spacing: 4.2px;
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @media only screen and (max-width: 991px) {
      font-size: 44px;
    }
    @media only screen and (max-width: 767px) {
      font-size: 36px;
      margin-bottom: 40px;
    }
    img {
      margin-bottom: -20px;
      @media only screen and (max-width: 767px) {
        width: 46px;
        height: 46px;
      }
    }
  }
  &-block {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 40px;
    @media only screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
    .first {
      font-size: 20px;
      line-height: 135.8%;
      letter-spacing: 0.4px;
      display: flex;
      align-items: center;
      width: 50%;
      @media only screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 28px;
      }
      &::before {
        content: "";
        width: 13px;
        height: 13px;
        background: $green;
        border-radius: 50%;
        display: block;
        margin-right: 12px;
      }
    }
    .second {
      width: 310px;
      font-size: 20px;
      font-weight: 600;
      line-height: 135.8%;
      letter-spacing: 0.4px;
      @media only screen and (max-width: 767px) {
        width: 100%;
      }
      a {
        color: #fff;
      }
    }
    .flex {
      display: flex;
      align-items: flex-start;
      margin-bottom: 24px;
      @media only screen and (max-width: 767px) {
        margin-bottom: 16px;
      }
      img {
        margin-right: 20px;
      }
    }
    .social {
      display: flex;
      @media only screen and (max-width: 767px) {
        margin-left: 28px;
      }
      a {
        margin-right: 20px;
      }
    }
  }
  &-map {
    margin-bottom: 140px;
    margin-top: 64px;
    @media only screen and (max-width: 767px) {
      margin-bottom: 72px;
      margin-top: 48px;
    }
  }
}
</style>
